<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Cats
                    <p class="lead">
                        Who Reside in the Palace<br />
                        <a href="/#/new-kitten" class="btn btn-default">Add your own!</a>
                    </p>
                </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-sm-12">
                            Allison's Cat Palace was built with an Angularjs frontend courtesy of <a href="https://github.com/yeoman/">Yeoman</a> and a <a href="https://www.firebase.com/">firebase</a> backend.
                            It was styled with Bootstrap, again courtesy of Yeoman, and the JSON data for the seed file was created with help from
                            <a href="placekitten.com">placekitten.com</a> and <a href="http://www.json-generator.com/">json-generator.com</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont -->
</div>


<!--/stories-->
<div class="row col-md-10 col-md-offset-2" ng-repeat="(kittenId, kitten) in kittens | filter:search | orderByPriority | startFrom:currentPage*pageSize | limitTo:pageSize">
  <br>
    <div class="col-md-2 col-sm-3 text-center story-img">
        <a href="#"><img ng-click="animateKitten(this)" id="kitten-{{kitten.id}}" ng-src="{{kitten.picture}}" class="img-circle" style="width:100px;height:100px"></a>
    </div>
    <div class="col-md-10 col-sm-9">
        <h3>{{kitten.name}}</h3>
        <div class="row">
            <div>
                <p>{{kitten.about}}.</p>
                <a href="/#/kittens/{{kittenId}}">
                    <button class="btn btn-default">More Details</button>
                </a>
                <a href="/#/kittens" ng-click="deleteKitten(kittenId)">
                    <button class="btn btn-danger">Delete Kitten</button>
                </a>
            </div>
        </div>
        <br><br>
    </div>
</div>
<ul class="pager">
  <li><a href="" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">Previous</a></li>
  {{currentPage+1}}/{{numberOfPages()}}
  <li><a href="" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage = currentPage + 1">Next</a></li>
</ul>
<hr>