<img ng-src="http://placehold.it/300x300" class="kitten">

<div class="col-md-6">
    <h3>Add New Kitten!</h3>

    <form name="form" ng-submit="submitKitten(kittenId)">

        <div class="form-group">
          <input ng-model="kitten.picture" name="picture" type="text" required class="form-control" />
          <label placeholder="ex: http://..." alt="Enter the url of your image"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.name" name="name" type="text" class="form-control" required />
          <label placeholder="name" alt="Enter a Name"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.age" name="age" type="text" class="form-control" required />
          <label placeholder="age" alt="Enter Age" ></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.weight" type="text" name="weight" class="form-control" required />
          <label placeholder="ex: 5.3 lbs" alt="Enter Weight"></label>
        </div>

        <div class="form-group">
            <select ng-model="kitten.gender" type="text" name="gender" class="form-control" required>
                <option value="" disabled selected></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Gender Neutral">Gender Neutral</option>
            </select>
            <label placeholder="gender" alt="Select a Gender"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.cutenesslevel" type="number" name="cutenesslevel" class="form-control" required />
          <label placeholder="Cuteness" alt="Cuteness"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.birthcity" type="text" name="birthcity" class="form-control" required />
          <label placeholder="ex: Kittenland" alt="Enter Birth City"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.birthstate" type="text" name="birthstate" class="form-control" required />
          <label placeholder="{{kitten.name}} is from {{kitten.birthcity}} {{kitten.birthstate}}" alt="{{kitten.name}} is from {{kitten.city}} {{kitten.birthstate}}"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.favorite[0].food" type="text" name="favoritefood" class="form-control" required />
          <label placeholder="ex: tuna" alt="Favorite Food"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.favorite[0].toy" type="text" name="favoritetoy" class="form-control" required />
          <label placeholder="ex: yarn" alt="Favorite Toy"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.favorite[0].bathroom" type="text" name="favoritebathroom" class="form-control" required />
          <label placeholder="ex: LitterBox" alt="Favorite Bathroom"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.favorite[0].napspot" type="text" name="favoritenapspot" class="form-control" required />
          <label placeholder="ex: sunny place" alt="Favorite Nap Spot"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.favorite[0].hat" type="text" name="favoritehat" class="form-control" required />
          <label placeholder="ex: Sombrero" alt="Favorite Hat"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.favorite[0].outfit" type="text" name="favoriteoutfit" class="form-control" required />
          <label placeholder="ex: cop uniform" alt="Favorite Outfit"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.about" type="text" name="about" class="form-control" required />
          <label placeholder="{{kitten.name}} is {{kitten.about}}" alt="Description/About"></label>
        </div>

        <div class="form-group">
          <input ng-model="kitten.greeting" type="text" name="greeting" class="form-control" required />
          <label placeholder="ex: Hi my name is {{kitten.name}}!" alt="Greeting"></label>
        </div>

        <div class="form-group">
            <div class="controls">
                <a href="/#/kittens" class="btn">Cancel</a>
                <input type="submit" class="btn btn-success" value="Add Kitten"/>
            </div>
        </div>
        <a href="/kittens/{{kitten.id}}">Back to Kitten</a>
    </form>
</div>