<img ng-src="{{kitten.picture}}" class="kitten">

<h1>{{kitten.name}}</h1>

<p>{{kitten.greeting}}</p>

<a href="/#/kittens/{{kittenId}}/edit">
    <button class="btn btn-default">Edit me!</button>
</a>

<a href="/#/kittens" ng-click="deleteKitten(kittenId)">
    <button class="btn btn-danger">Delete me!</button>
</a>

<ul class="kitten-detail">
    <li>
        <span>Adoptable?</span>
        <dl>
            <dt>{{kitten.adoptable}}</dt>
        </dl>
    </li>
    <li>
        <span>Cuteness Level</span>
        <dl>
            <dd>{{kitten.cutenesslevel}}</dd>
            <dd>The scale starts at 100 so a {{kitten.cutenesslevel}} is actually 10{{kitten.cutenesslevel}}...</dd>
        </dl>
    </li>
    <li>
        <span>Age</span>
        <dl>
            <dd>{{kitten.age}}</dd>
        </dl>
    </li>
    <li>
        <span>Gender</span>
        <dl>
            <dd>{{kitten.gender}}</dd>
        </dl>
    </li>
    <li>
        <span>Birthplace</span>
        <dl>
            <dd>{{kitten.birthcity}}, {{kitten.birthstate}}</dd>
        </dl>
    </li>
    <li>
        <span>Dimensions</span>
        <dl>
            <dt>Weight</dt>
            <dd>{{kitten.weight}}</dd>
        </dl>
    </li>
    <li>
        <span>Favorites</span>
        <dl>
            <dt>Food</dt>
            <dd>{{kitten.favorite[0].food}}</dd>
            <dt>Toy</dt>
            <dd>{{kitten.favorite[0].toy}}</dd>
            <dt>Bathroom</dt>
            <dd>{{kitten.favorite[0].bathroom}}</dd>
            <dt>Napspot</dt>
            <dd>{{kitten.favorite[0].napspot}}</dd>
        </dl>
    </li>
    <li>
        <span>Dress-Up</span>
        <dl>
            <dt>Favorite Hat</dt>
            <dd>{{kitten.favorite[0].hat}}</dd>
            <dt>Favorit Outfit</dt>
            <dd>{{kitten.favorite[0].outfit}}</dd>
        </dl>
    </li>
</ul>